In [1]:
import pandas as pd
import pickle
import numpy as np
from json import loads
import requests
import re

This notebook includes the work to clean the food access data and merge it with the cleaned education dataset prior to analysis.

# Load dataset

In [2]:
food_df = pickle.load(open('food_df.pkl', 'rb'))

# Initial Feature Selection

The food access atlas has a huge number of features to work from. As a start, I'll see if any are missing too many values for them to be useful. I'll pull a list of any column that has more than half of the data points missing

In [3]:
food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72531 entries, 0 to 72530
Columns: 147 entries, CensusTract to TractSNAP
dtypes: float64(126), int64(19), object(2)
memory usage: 81.3+ MB

In [4]:
drop_cols = list(food_df.isnull().sum()[food_df.isnull().sum()> (len(food_df)//2)].index)

drop_cols

['lapop10',
 'lapop10share',
 'lalowi10',
 'lalowi10share',
 'lakids10',
 'lakids10share',
 'laseniors10',
 'laseniors10share',
 'lawhite10',
 'lawhite10share',
 'lablack10',
 'lablack10share',
 'laasian10',
 'laasian10share',
 'lanhopi10',
 'lanhopi10share',
 'laaian10',
 'laaian10share',
 'laomultir10',
 'laomultir10share',
 'lahisp10',
 'lahisp10share',
 'lahunv10',
 'lahunv10share',
 'lasnap10',
 'lasnap10share',
 'lapop20',
 'lapop20share',
 'lalowi20',
 'lalowi20share',
 'lakids20',
 'lakids20share',
 'laseniors20',
 'laseniors20share',
 'lawhite20',
 'lawhite20share',
 'lablack20',
 'lablack20share',
 'laasian20',
 'laasian20share',
 'lanhopi20',
 'lanhopi20share',
 'laaian20',
 'laaian20share',
 'laomultir20',
 'laomultir20share',
 'lahisp20',
 'lahisp20share',
 'lahunv20',
 'lahunv20share',
 'lasnap20',
 'lasnap20share']

Looking through the list of columns and comparing to the data description, it looks like all of these columns are population counts and percentages for various groups (e.g. lapop10 is the population count of individuals in the tract who live more than 10 miles from a supermarket). For this analysis, I'm not focused on populations, just whether the tract as a whole is low access. The dataset already has other features that flag a tract as low access or not under the USDA definitions, so I can drop these features and just use the USDA flags.

In [5]:
len(drop_cols)

52

In [6]:
# The columns in question are all next to eachother, dropping the section that contains these columns

food_df.drop(columns=food_df.iloc[:,31:-12].columns, inplace=True)

food_df.columns

Index(['CensusTract', 'State', 'County', 'Urban', 'Pop2010', 'OHU2010',
       'GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS', 'LILATracts_1And10',
       'LILATracts_halfAnd10', 'LILATracts_1And20', 'LILATracts_Vehicle',
       'HUNVFlag', 'LowIncomeTracts', 'PovertyRate', 'MedianFamilyIncome',
       'LA1and10', 'LAhalfand10', 'LA1and20', 'LATracts_half', 'LATracts1',
       'LATracts10', 'LATracts20', 'LATractsVehicle_20', 'LAPOP1_10',
       'LAPOP05_10', 'LAPOP1_20', 'LALOWI1_10', 'LALOWI05_10', 'LALOWI1_20',
       'TractLOWI', 'TractKids', 'TractSeniors', 'TractWhite', 'TractBlack',
       'TractAsian', 'TractNHOPI', 'TractAIAN', 'TractOMultir',
       'TractHispanic', 'TractHUNV', 'TractSNAP'],
      dtype='object')

Looking at the remaining features with null values, they appear to all be either the same type of feature I dropped previously, or features that I don't need for the analysis. For instance the TractXXX features all have the count of the population that are members of that specific demographic. However, since I'm looking at school level data, I'm more concerned with the demographics of the students rather than the population as a whole. Therefore, I will just drop all of these features from the dataset.

In [7]:
# Set display output
pd.options.display.max_rows = None

# Look at null values
food_df.isnull().sum()[food_df.isnull().sum() > 0]

NUMGQTRS                 25
PCTGQTRS                 25
PovertyRate               3
MedianFamilyIncome      748
LAPOP1_10             29957
LAPOP05_10            14540
LAPOP1_20             35914
LALOWI1_10            29957
LALOWI05_10           14540
LALOWI1_20            35914
TractLOWI                 4
TractKids                 4
TractSeniors              4
TractWhite                4
TractBlack                4
TractAsian                4
TractNHOPI                4
TractAIAN                 4
TractOMultir              4
TractHispanic             4
TractHUNV                 4
TractSNAP                 4
dtype: int64

In [8]:
# Reset display parameters
pd.options.display.max_rows = 20

# Create list of all columns with missing values
missing_vals = list(food_df.isnull().any()[food_df.isnull().any() == True].index)

# Drop columns
food_df.drop(columns=missing_vals, inplace=True)

In [9]:
food_df.columns

Index(['CensusTract', 'State', 'County', 'Urban', 'Pop2010', 'OHU2010',
       'GroupQuartersFlag', 'LILATracts_1And10', 'LILATracts_halfAnd10',
       'LILATracts_1And20', 'LILATracts_Vehicle', 'HUNVFlag',
       'LowIncomeTracts', 'LA1and10', 'LAhalfand10', 'LA1and20',
       'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20',
       'LATractsVehicle_20'],
      dtype='object')

I've now managed to get the features down from 147 to 21, a much more manageable number. There are a few more columns that I can drop since they will be unecessary: OHU2010 (total number of houses), Urban, and Pop2010.

In [10]:
food_df.drop(columns=['OHU2010', 'Urban', 'Pop2010'], inplace=True)

In [11]:
food_df.shape

(72531, 18)

In [12]:
# Validate that all null values have been removed

food_df.isnull().sum()[food_df.isnull().sum() > 0]

Series([], dtype: int64)

# Census Tract Feature Engineering

In [13]:
# Load edu df dataset
edu_df = pickle.load(open('edu_df.pkl', 'rb'))

Census tract codes are made up of 3 components: a 2 digit state code, a 3 digit county code, and a 6 digit tract id. The edu dataframe 'tract' column only includes the 6 digit tract id, but the 'county_code' column contains the other digits required. 

Taking a look at the different ids, I can see that the length for tract ids run from 3 to 6, the length for county code is 4 to 5 and the length of CensusTract runs from 10 to 11. That looks like all the codes have leading 0's removed so we'll need to add those back on to the 'tract' id to ensure the appropriate length.

source: https://transition.fcc.gov/form477/Geo/more_about_census_tracts.pdf

In [14]:
min_len = np.inf
max_len = 0
for i in edu_df['tract'].unique():
    item = str(int(i))
    if len(item) < min_len:
        min_len = len(item)
    if len(item) > max_len:
        max_len = len(item)

print(min_len, max_len)

min_len = np.inf
max_len = 0
for i in edu_df['county_code'].unique():
    item = str(int(i))
    if len(item) < min_len:
        min_len = len(item)
    if len(item) > max_len:
        max_len = len(item)

print(min_len, max_len)

print(len(str(food_df.CensusTract.unique().min())),
len(str(food_df.CensusTract.unique().max())))

for i in food_df['CensusTract'].unique():
    if len(str(i)) == 11:
        if str(i).split()[0] == 0:
            print('True')

3 6
4 5
10 11

In [15]:
# Note that tracts can have sub-categories marked as a decimal point, which is why the tract id is listed as a float. But a quick check verifies that there are no subcategories included

for i in edu_df['tract']:
    if i > int(i):
        print('True')

In [16]:
# Create a new column in the edu_df combining the county code and tract id
def census_tract (row):
    tract = str(int(row['tract']))
    code = str(row['county_code'])
    while len(tract) < 6:
        tract = '0' + tract
    
    census = code + tract
    return census

edu_df['CensusTract'] = edu_df.apply(census_tract, axis=1)

In [17]:
# Double check some samples to make sure it worked

edu_df.sample(10)

,ncessch,school_name,cohort_cat,cohort_num,street,city,state,zip,county_code,tract,school_level,title_i_status,charter,magnet,shared_time,virtual,lunch_program,urban_locale_cat,grad_rate,CensusTract
2898,10339001287,Northside High School,black,3,19230 Northside Parkway,Northport,AL,35475,1125,10103.0,3,6.0,0,0.0,0.0,0.0,1.0,Rural,75.11,1125010103
147335,420586007499,STEM at Showalter,black,68,1100 West 10th Street,Chester,PA,19013,42045,405100.0,3,5.0,0,0.0,0.0,0.0,2.0,Suburban,95,42045405100
11187,50732000444,HARMONY GROVE HIGH SCHOOL,limited_english,2,2621 HWY 229,BENTON,AR,72015,5125,10503.0,3,6.0,0,0.0,0.0,3.0,1.0,Suburban,70.5,5125010503
55662,130222000956,Forsyth Central High School,hispanic,161,131 Almon C. Hill Drive,Cumming,GA,30040,13117,130408.0,3,6.0,0,0.0,0.0,0.0,1.0,Suburban,87.0,13117130408
82980,260094307776,ACE Academy SDA Glendale Lincoln Woodward,total,46,330 Glendale,Highland Park,MI,48203,26163,553300.0,4,5.0,1,0.0,0.0,0.0,1.0,Suburban,10,26163553300
45018,120015000131,SATELLITE SENIOR HIGH SCHOOL,white,258,300 SCORPION CT,SATELLITE BEACH,FL,32937,12009,66700.0,3,6.0,0,0.0,0.0,0.0,1.0,Suburban,92.0,12009066700
119212,360663000446,CARTHAGE SENIOR HIGH SCHOOL,white,189,36500 NYS RT 26,CARTHAGE,NY,13619,36045,61000.0,3,5.0,0,0.0,0.0,0.0,1.0,Rural,82.0,36045061000
7222,40116000062,Salome High School,homeless,2,67488 E Salome Rd,Salome,AZ,85348,4012,20100.0,3,5.0,0,-1.0,0.0,0.0,4.0,Rural,50.0,4012020100
91338,270009903539,YELLOW MEDICINE EAST HIGH SCHOOL,total,56,450 9TH AVE,GRANITE FALLS,MN,56241,27173,970100.0,3,5.0,0,0.0,0.0,0.0,1.0,Town,90,27173970100
2607,10303001170,Calera High,total,192,100 Calera Eagle Drive,Calera,AL,35040,1117,30501.0,3,6.0,0,0.0,0.0,0.0,1.0,Rural,95,1117030501

In [18]:
# Convert column to integer type

edu_df['CensusTract'] = edu_df['CensusTract'].astype('int64')

# Join with Education Data

## First Joining Attempt

In [19]:
df = edu_df.merge(food_df, on= 'CensusTract', how='left')

After joining the datasets, there are 918 rows (associated with 189 schools) that didn't match with the food access dataset. Digging more into this, it appears that the census tracts are actually 2020 tracts in at least some cases not 2010, even though the file states that they are 2010. Since the school data we're using is 2019 it makes sense to match up to the 2020 data for those that didn't match properly. To do this, I'll need to use the Census Geocoder to look up each address and find the current census tract ID. 

source: https://geocoding.geo.census.gov/geocoder/

In [20]:
df.isnull().sum()[df.isnull().sum() > 0]

State                   918
County                  918
GroupQuartersFlag       918
LILATracts_1And10       918
LILATracts_halfAnd10    918
LILATracts_1And20       918
LILATracts_Vehicle      918
HUNVFlag                918
LowIncomeTracts         918
LA1and10                918
LAhalfand10             918
LA1and20                918
LATracts_half           918
LATracts1               918
LATracts10              918
LATracts20              918
LATractsVehicle_20      918
dtype: int64

In [21]:
def census_lookup(school):
    '''Input is a row from edu_df. Function parses the address and looks up the census tract ID from the census.gov geocoding website'''

    # Parse address into correct format
    old_tract = school['CensusTract']
    street = re.sub(pattern=r'["#"]', repl='', string=school['street'])
    geoStreet = '+'.join(street.split())
    geoCity = '+'.join(school['city'].split())
    geoState = school['state']
    geoZip= school['zip']

    # Make Request
    url = f'https://geocoding.geo.census.gov/geocoder/geographies/address?street={geoStreet}&city={geoCity}&state={geoState}&zip={geoZip}&benchmark=Public_AR_Current&vintage=Current_Current&layers=11&format=json'
    response = requests.get(url)

    # Load results from request
    results = loads(response.text)

    # Check if search returned results or not
    if len(results['result']['addressMatches']) > 0:
        # Get census tract ID
        new_tract = results['result']['addressMatches'][0]['geographies']['Census Tracts'][0]['GEOID']
    else:
        new_tract = 'No Match'
    
    return new_tract

In [22]:
# List of school IDs for schools that didn't have a match
missing_schools = list(df[df['State'].isnull()]['ncessch'].unique())
temp_dict = {}

for idx, id in enumerate(missing_schools):
    # Loop through each school and look up it's 2020 census tract ID if available
    school = edu_df[edu_df['ncessch'] == id].iloc[0]
    old_tract = edu_df[edu_df['ncessch'] == id].iloc[0]['CensusTract']
    new_tract = census_lookup(school)

    temp_dict[id] = [old_tract, new_tract]

    # Print the index of each ncessch to verify code is running properly and to debug as needed
    print(f'Index {idx} complete')

Index 0 complete
Index 1 complete
Index 2 complete
Index 3 complete
Index 4 complete
Index 5 complete
Index 6 complete
Index 7 complete
Index 8 complete
Index 9 complete
Index 10 complete
Index 11 complete
Index 12 complete
Index 13 complete
Index 14 complete
Index 15 complete
Index 16 complete
Index 17 complete
Index 18 complete
Index 19 complete
Index 20 complete
Index 21 complete
Index 22 complete
Index 23 complete
Index 24 complete
Index 25 complete
Index 26 complete
Index 27 complete
Index 28 complete
Index 29 complete
Index 30 complete
Index 31 complete
Index 32 complete
Index 33 complete
Index 34 complete
Index 35 complete
Index 36 complete
Index 37 complete
Index 38 complete
Index 39 complete
Index 40 complete
Index 41 complete
Index 42 complete
Index 43 complete
Index 44 complete
Index 45 complete
Index 46 complete
Index 47 complete
Index 48 complete
Index 49 complete
Index 50 complete
Index 51 complete
Index 52 complete
Index 53 complete
Index 54 complete
Index 55 complete
Index 56 complete
Index 57 complete
Index 58 complete
Index 59 complete
Index 60 complete
Index 61 complete
Index 62 complete
Index 63 complete
Index 64 complete
Index 65 complete
Index 66 complete
Index 67 complete
Index 68 complete
Index 69 complete
Index 70 complete
Index 71 complete
Index 72 complete
Index 73 complete
Index 74 complete
Index 75 complete
Index 76 complete
Index 77 complete
Index 78 complete
Index 79 complete
Index 80 complete
Index 81 complete
Index 82 complete
Index 83 complete
Index 84 complete
Index 85 complete
Index 86 complete
Index 87 complete
Index 88 complete
Index 89 complete
Index 90 complete
Index 91 complete
Index 92 complete
Index 93 complete
Index 94 complete
Index 95 complete
Index 96 complete
Index 97 complete
Index 98 complete
Index 99 complete
Index 100 complete
Index 101 complete
Index 102 complete
Index 103 complete
Index 104 complete
Index 105 complete
Index 106 complete
Index 107 complete
Index 108 complete
Index 109 complete
Index 110 complete
Index 111 complete
Index 112 complete
Index 113 complete
Index 114 complete
Index 115 complete
Index 116 complete
Index 117 complete
Index 118 complete
Index 119 complete
Index 120 complete
Index 121 complete
Index 122 complete
Index 123 complete
Index 124 complete
Index 125 complete
Index 126 complete
Index 127 complete
Index 128 complete
Index 129 complete
Index 130 complete
Index 131 complete
Index 132 complete
Index 133 complete
Index 134 complete
Index 135 complete
Index 136 complete
Index 137 complete
Index 138 complete
Index 139 complete
Index 140 complete
Index 141 complete
Index 142 complete
Index 143 complete
Index 144 complete
Index 145 complete
Index 146 complete
Index 147 complete
Index 148 complete
Index 149 complete
Index 150 complete
Index 151 complete
Index 152 complete
Index 153 complete
Index 154 complete
Index 155 complete
Index 156 complete
Index 157 complete
Index 158 complete
Index 159 complete
Index 160 complete
Index 161 complete
Index 162 complete
Index 163 complete
Index 164 complete
Index 165 complete
Index 166 complete
Index 167 complete
Index 168 complete
Index 169 complete
Index 170 complete
Index 171 complete
Index 172 complete
Index 173 complete
Index 174 complete
Index 175 complete
Index 176 complete
Index 177 complete
Index 178 complete
Index 179 complete
Index 180 complete
Index 181 complete
Index 182 complete
Index 183 complete
Index 184 complete
Index 185 complete
Index 186 complete
Index 187 complete
Index 188 complete

In [23]:
# Check how many values did not have a match
count = 0
for item in temp_dict.keys():
    if temp_dict[item][1] == 'No Match':
        count += 1

print(f'Out of {len(temp_dict)} census tracts, {count} were not found in the lookup')

Out of 189 census tracts, 159 were not found in the lookup

In reviewing the matches, it looks like I only matched 30 census tracts using the geocoder site. After a spot check it looks like most schools have the same state code (72) which represents Puerto Rico. A quick loop confirms that all but 1 tract where I could not find a match were in Puerto Rico. The reaming tract had 2 schools in NY, neither of which I could find through manual searching.

In [24]:
# Check how many of the schools missing a match have the state code 72
missing_vals = []
count = 0
for item in temp_dict.keys():
    if temp_dict[item][1] == 'No Match':
        missing_vals.append(item)

for item in missing_vals:
    if str(item)[:2] == '72':
        count+= 1

print(count)

158

Because so many of the schools in Puerto Rico are missing this information, I will drop all of the Puerto Rico schools from the dataset to avoid skewing the data with an unrepresentative sample.

In [25]:
# Drop all schools with a state of PR
edu_df = edu_df[edu_df['state'] != 'PR']

## Update edu_df with correct census tract id

In [26]:
# Create dictionary of old tract id and their corrected one
tract_changes = pd.DataFrame.from_dict(temp_dict, columns=['old_tract', 'new_tract'], orient='index')

tract_changes

                old_tract    new_tract
40052003063    4019470400  04019005200
40089803393    4013980600  04013422647
60211511108    6071980100  06071980100
80195000010    8001988700  08001988700
80336006527    8031980100  08031980100
...                   ...          ...
720003002064  72059740400     No Match
720003002066  72123952800     No Match
720003002069  72031050600     No Match
720003002073  72031051102     No Match
720003002085  72145560701     No Match

[189 rows x 2 columns]

In [27]:
# Update all tracts

def update_tract(x):
    if x in list(tract_changes['old_tract']):
        tract = tract_changes[tract_changes['old_tract'] == x].new_tract.values[0]
        return tract
    else:
        return x
    

edu_df['CensusTract2'] = edu_df['CensusTract'].apply(update_tract)

# Spot check one of the values
edu_df[edu_df['CensusTract'] == 4019470400]

,ncessch,school_name,cohort_cat,cohort_num,street,city,state,zip,county_code,tract,...,title_i_status,charter,magnet,shared_time,virtual,lunch_program,urban_locale_cat,grad_rate,CensusTract,CensusTract2
6209,40052003063,Ajo High School,total,26,111 N WELL RD,AJO,AZ,85321,4019,470400.0,...,5.0,0,-1.0,0.0,0.0,1.0,Town,80,4019470400,04019005200
6210,40052003063,Ajo High School,disability,6,111 N WELL RD,AJO,AZ,85321,4019,470400.0,...,5.0,0,-1.0,0.0,0.0,1.0,Town,50,4019470400,04019005200
6211,40052003063,Ajo High School,econ_disadvantaged,16,111 N WELL RD,AJO,AZ,85321,4019,470400.0,...,5.0,0,-1.0,0.0,0.0,1.0,Town,80,4019470400,04019005200
6212,40052003063,Ajo High School,limited_english,3,111 N WELL RD,AJO,AZ,85321,4019,470400.0,...,5.0,0,-1.0,0.0,0.0,1.0,Town,53.22,4019470400,04019005200
6213,40052003063,Ajo High School,am_indian/ak_native,3,111 N WELL RD,AJO,AZ,85321,4019,470400.0,...,5.0,0,-1.0,0.0,0.0,1.0,Town,72.53,4019470400,04019005200
6214,40052003063,Ajo High School,api,1,111 N WELL RD,AJO,AZ,85321,4019,470400.0,...,5.0,0,-1.0,0.0,0.0,1.0,Town,56.0,4019470400,04019005200
6215,40052003063,Ajo High School,hispanic,22,111 N WELL RD,AJO,AZ,85321,4019,470400.0,...,5.0,0,-1.0,0.0,0.0,1.0,Town,80,4019470400,04019005200

In [28]:
# Verify that the only schools with no match were the ones I identified. 
edu_df[edu_df['CensusTract2'] == 'No Match']

,ncessch,school_name,cohort_cat,cohort_num,street,city,state,zip,county_code,tract,...,title_i_status,charter,magnet,shared_time,virtual,lunch_program,urban_locale_cat,grad_rate,CensusTract,CensusTract2
121682,361992001819,MORRISVILLE MIDDLE SCHOOL HIGH SCHOOL,total,54,5061 FEARON RD,MORRISVILLE,NY,13408,36053,940600.0,...,5.0,0,0.0,0.0,0.0,1.0,Rural,84.5,36053940600,No Match
121683,361992001819,MORRISVILLE MIDDLE SCHOOL HIGH SCHOOL,disability,12,5061 FEARON RD,MORRISVILLE,NY,13408,36053,940600.0,...,5.0,0,0.0,0.0,0.0,1.0,Rural,50,36053940600,No Match
121684,361992001819,MORRISVILLE MIDDLE SCHOOL HIGH SCHOOL,econ_disadvantaged,34,5061 FEARON RD,MORRISVILLE,NY,13408,36053,940600.0,...,5.0,0,0.0,0.0,0.0,1.0,Rural,84.5,36053940600,No Match
121685,361992001819,MORRISVILLE MIDDLE SCHOOL HIGH SCHOOL,api,3,5061 FEARON RD,MORRISVILLE,NY,13408,36053,940600.0,...,5.0,0,0.0,0.0,0.0,1.0,Rural,57.0,36053940600,No Match
121686,361992001819,MORRISVILLE MIDDLE SCHOOL HIGH SCHOOL,black,2,5061 FEARON RD,MORRISVILLE,NY,13408,36053,940600.0,...,5.0,0,0.0,0.0,0.0,1.0,Rural,63.27,36053940600,No Match
121687,361992001819,MORRISVILLE MIDDLE SCHOOL HIGH SCHOOL,two_or_more,1,5061 FEARON RD,MORRISVILLE,NY,13408,36053,940600.0,...,5.0,0,0.0,0.0,0.0,1.0,Rural,51.67,36053940600,No Match
121688,361992001819,MORRISVILLE MIDDLE SCHOOL HIGH SCHOOL,white,48,5061 FEARON RD,MORRISVILLE,NY,13408,36053,940600.0,...,5.0,0,0.0,0.0,0.0,1.0,Rural,84.5,36053940600,No Match
123386,362814003801,STOCKBRIDGE VALLEY CENTRAL SCHOOL,total,29,6011 WILLIAMS RD,MUNNSVILLE,NY,13409,36053,940600.0,...,3.0,0,0.0,0.0,0.0,1.0,Rural,80,36053940600,No Match
123387,362814003801,STOCKBRIDGE VALLEY CENTRAL SCHOOL,disability,5,6011 WILLIAMS RD,MUNNSVILLE,NY,13409,36053,940600.0,...,3.0,0,0.0,0.0,0.0,1.0,Rural,56.14,36053940600,No Match
123388,362814003801,STOCKBRIDGE VALLEY CENTRAL SCHOOL,econ_disadvantaged,6,6011 WILLIAMS RD,MUNNSVILLE,NY,13409,36053,940600.0,...,3.0,0,0.0,0.0,0.0,1.0,Rural,50,36053940600,No Match
123389,362814003801,STOCKBRIDGE VALLEY CENTRAL SCHOOL,white,29,6011 WILLIAMS RD,MUNNSVILLE,NY,13409,36053,940600.0,...,3.0,0,0.0,0.0,0.0,1.0,Rural,80,36053940600,No Match

In [29]:
# Dropping the items with no match

edu_df = edu_df[edu_df['CensusTract2'] != 'No Match']

# Removing old column and renaming new column

edu_df.drop(columns=['CensusTract'], inplace=True)

edu_df.rename(columns={'CensusTract2': 'CensusTract'}, inplace=True)

In [30]:
# Convert to an integer

edu_df['CensusTract'] = edu_df['CensusTract'].astype('int64')

## Second Joining Attempt

In [31]:
df = edu_df.merge(food_df, on= 'CensusTract', how='left')

This has now gotten the missing matches down to 60 rows and 7 schools

In [32]:
print(df.isnull().sum()[df.isnull().sum()> 0])

print(df[df['State'].isnull()]['ncessch'].nunique())

State                   60
County                  60
GroupQuartersFlag       60
LILATracts_1And10       60
LILATracts_halfAnd10    60
LILATracts_1And20       60
LILATracts_Vehicle      60
HUNVFlag                60
LowIncomeTracts         60
LA1and10                60
LAhalfand10             60
LA1and20                60
LATracts_half           60
LATracts1               60
LATracts10              60
LATracts20              60
LATractsVehicle_20      60
dtype: int64
7

Looking up the remaining schools, I can't find any information for these census tracts. Because it is only a handful of schools and they are spread out across the country, I wil just drop them from the data.

In [33]:
for i in list(df[df['State'].isnull()]['ncessch'].unique())[:7]:
    print(df[df['ncessch'] == i]['school_name'].unique(),df[df['ncessch'] == i]['street'].unique(), df[df['ncessch'] == i]['city'].unique(), df[df['ncessch'] == i]['state'].unique(), df[df['ncessch'] == i]['CensusTract'].unique())

['BASIS Mesa'] ['5010 S EASTMARK PKWY'] ['MESA'] ['AZ'] [4013422647]
['Public Safety Academy'] ['1482 E. Enterprise Dr.'] ['San Bernardino'] ['CA'] [6071980100]
['ADAMS CITY HIGH SCHOOL'] ['7200 QUEBEC PARKWAY'] ['COMMERCE CITY'] ['CO'] [8001988700]
['HIGH TECH EARLY COLLEGE'] ['11200 E 45TH AVE'] ['DENVER'] ['CO'] [8031980100]
['The Founders Academy Charter School (H)'] ['5 Perimeter Rd'] ['Manchester'] ['NH'] [33011980101]
['QUEENS HIGH SCHOOL FOR THE SCIENCES AT YORK COLLEGE'] ['94-50 159TH ST'] ['JAMAICA'] ['NY'] [36081024600]
['Midlands Middle College'] ['1260 Lexington Drive'] ['West Columbia'] ['SC'] [45063980100]

In [34]:
# Drop any columns that didn't match
df = df[df['State'].isnull() == False]

# double check that all null values are removed
df.isnull().sum()[df.isnull().sum() > 0]

Series([], dtype: int64)

In [35]:
len(edu_df)

145324

# Filter Dataset

Finally, I have joined all of the data together and removed all missing values. There is a little more cleaning that I can do before I start the analysis. 

1) The GroupQuartersFlag indicates that more than 67% of the population lives in 'group quarters' which are communal living situations like military barracks, employee housing, etc. Since these situations are less common and introduce additonal factors that may skew our results (for instance military barracks will provide food for those living there, making the proximity of a grocery store irrelevant) I'll drop any tracts where this is true.

2) Some features such as the address of the school and the school name were only needed for matching and joining purposes. I can drop these columns to make the analysis simpler.

3) I can reorganize the columns to read a little easier

4) I can set the correct types for each of the features

In [36]:
# Remove group quarters observations
df = df[df.GroupQuartersFlag == 0]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144951 entries, 0 to 145323
Data columns (total 37 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ncessch               144951 non-null  int64
 1   school_name           144951 non-null  object
 2   cohort_cat            144951 non-null  object
 3   cohort_num            144951 non-null  int64
 4   street                144951 non-null  object
 5   city                  144951 non-null  object
 6   state                 144951 non-null  object
 7   zip                   144951 non-null  object
 8   county_code           144951 non-null  int64
 9   tract                 144951 non-null  float64
 10  school_level          144951 non-null  int64
 11  title_i_status        144951 non-null  float64
 12  charter               144951 non-null  int64
 13  magnet                144951 non-null  float64
 14  shared_time           144951 non-null  float64
 15  virtual               144951 non-null  float64
 16  lunch_program         144951 non-null  float64
 17  urban_locale_cat      144951 non-null  object
 18  grad_rate             144951 non-null  object
 19  CensusTract           144951 non-null  int64
 20  State                 144951 non-null  object
 21  County                144951 non-null  object
 22  GroupQuartersFlag     144951 non-null  float64
 23  LILATracts_1And10     144951 non-null  float64
 24  LILATracts_halfAnd10  144951 non-null  float64
 25  LILATracts_1And20     144951 non-null  float64
 26  LILATracts_Vehicle    144951 non-null  float64
 27  HUNVFlag              144951 non-null  float64
 28  LowIncomeTracts       144951 non-null  float64
 29  LA1and10              144951 non-null  float64
 30  LAhalfand10           144951 non-null  float64
 31  LA1and20              144951 non-null  float64
 32  LATracts_half         144951 non-null  float64
 33  LATracts1             144951 non-null  float64
 34  LATracts10            144951 non-null  float64
 35  LATracts20            144951 non-null  float64
 36  LATractsVehicle_20    144951 non-null  float64
dtypes: float64(21), int64(6), object(10)
memory usage: 42.0+ MB

# Clean and Save Final Dataframe

In [38]:
# Drop unecessary columns and reorganize
df = df[['ncessch', 'CensusTract', 'cohort_num','cohort_cat', 'school_level', 'charter', 'title_i_status', 'lunch_program', 'magnet', 'shared_time', 'virtual', 'LILATracts_1And10', 'LILATracts_halfAnd10', 'LILATracts_1And20', 'LILATracts_Vehicle',
         'LA1and10', 'LAhalfand10', 'LA1and20', 'LATractsVehicle_20','grad_rate']]

In [39]:
# Check columns

df.columns

Index(['ncessch', 'CensusTract', 'cohort_num', 'cohort_cat', 'school_level',
       'charter', 'title_i_status', 'lunch_program', 'magnet', 'shared_time',
       'virtual', 'LILATracts_1And10', 'LILATracts_halfAnd10',
       'LILATracts_1And20', 'LILATracts_Vehicle', 'LA1and10', 'LAhalfand10',
       'LA1and20', 'LATractsVehicle_20', 'grad_rate'],
      dtype='object')

In [40]:
# Update columns to appropriate type

# The only numerical columns are grad_rate and cohort_num, so I'll just change everything to a category and then update the two relevant columns to integer types
df = df.astype('category')

df[['grad_rate', 'cohort_num']] = df[['grad_rate', 'cohort_num']].astype('int64')

df.dtypes

ncessch                 category
CensusTract             category
cohort_num                 int64
cohort_cat              category
school_level            category
charter                 category
title_i_status          category
lunch_program           category
magnet                  category
shared_time             category
virtual                 category
LILATracts_1And10       category
LILATracts_halfAnd10    category
LILATracts_1And20       category
LILATracts_Vehicle      category
LA1and10                category
LAhalfand10             category
LA1and20                category
LATractsVehicle_20      category
grad_rate                  int64
dtype: object

In [41]:
df.to_pickle(open('final_df.pkl', 'wb'))